.navbarCart a {
  padding-left: 6px;
  padding-top: 2px;
}
  
  .cart {
    height: 30px;
    width: 30px;
    fill: light-dark(var(--color-light), var(--color-dark));
  }
  

  .cartContainer {
    position: relative;
  }
  
  .number {
    position: absolute;
    top: 12.5px;
    left: 11.5px;
    pointer-events: none;
    font-weight: 700;
    font-size: 10px;
  }
