/* Dynamic Spacing */

.product-item {
  --spacing: 25px;
  --image-size: 60px;
  --icon-size: 26px;
}

.product-item {
  background-color: light-dark(var(--color-100), var(--content-background-dark));
  border: 1px solid transparent;
  border-radius: 8px;
  aspect-ratio: 9 / 10;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.product-image {
  width: 35px;
  height: 35px;
  margin: auto; /* Center the image horizontally */
}

.product-details {
  flex-grow: 1;
  margin-left: 10px;
  text-align: left;
}

.product-details h3,
.product-details p {
  margin: 0;
}

.top-right-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.bottom-right-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
