/* Dynamic Spacing */

.product-item {
  --spacing: 25px;
  --image-size: 115px;
  --icon-size: 30px;
}

.product-item {
  background-color: light-dark(var(--color-100), var(--content-background-dark));
  border-radius: 8px;
  aspect-ratio: 9 / 10;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.product-image, .product-image-odd {
  transform: translateY(-10px);
  height: var(--image-size);
  width: var(--image-size);
}


.product-item:hover .product-image {
  transform: translate(-5px, -15px) scale(1.2, 1.2) rotate(-11deg) skewX(0) skewY(0);
  transition: transform 0.3s ease;
}

.product-item:hover .product-image-odd {
  transform: translate(-5px, -15px) scale(1.2, 1.2) rotate(11deg) skewX(0) skewY(0);
  transition: transform 0.3s ease;
}

.product-info {
  position: absolute;
  bottom: var(--spacing);
  left: var(--spacing);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-info h3,
.product-info p {
  margin: 0;
  font-size: 16px;
}

.product-info p {
  color: var(--color-400);
}

.favorite,
.add-to-cart {
  width: var(--icon-size);
  height: var(--icon-size);
  cursor: pointer;
  fill: light-dark(var(--color-light), var(--color-dark));
}

.top-right-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}


.add-to-cart {
  position: absolute;
  bottom: var(--spacing);
  right: var(--spacing);
  transition: transform 0.2s ease;
}

@media screen and (max-width: 940px) {
  .product-item {
    --spacing: 15px;
    aspect-ratio: 9 / 12;
  }
}

@media screen and (max-width: 768px) {
  .product-item {
    --spacing: 20px;
    aspect-ratio: 9 / 10;
  }
}

@media screen and (max-width: 540px) {
  .product-item {
    --spacing: 12px;
    --image-size: 72px;
    --icon-size: 20px;
    border-radius: 5px;
    aspect-ratio: 10 / 12;
  }

  .product-info h3,
  .product-info p {
    font-size: 12px;
  }

  .product-info {
    gap: 4px;
  }
}

@media screen and (max-width: 360px) {
  .product-item {
    aspect-ratio: 10 / 16;
  }
}