/* src/styles/cart.css */

.cart {
  display: none;
  padding: 2rem;
  border: 3px solid;
  border-width: 3px 0px 3px 3px;
  border-radius: 0px 0px 0px 7px;
  z-index: 1000; /* Ensure it overlays other content */
  position: absolute; /* Position relative to the #root element */
  top: 93px; /* Adjust this value based on the height of your header */
  right: 32px;
  width: 100%;
  max-width: 400px; /* Optional: limit the max width */
  background-color: #111827;
  overflow-y: auto; /* Add vertical scroll if content overflows */
  max-height: calc(100vh - 60px - 4rem); /* Ensure it fits within the viewport */
}

.cart p {
  font-size: 18px;
}

.cart.hover {
  display: block;
}
.close-cart {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 13px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .cart {
    width: 50%; /* Full width on narrow screens */
    margin: 0; /* Remove margin */
    top: 100px;
    right: 0px;
  }
}

@media (prefers-color-scheme: light) {
  .cart {
    background-color: rgb(249 250 251);
  }
}

