/* src/styles/cart.css */

.cart {
	display: none;
	padding: 2rem;
	border: 3px solid;
	/* border-width: 3px 0px 3px 3px; */
	border-radius: 7px;
	z-index: 1000;
	position: absolute;
	top: 100px;
	right: 30px;
	width: 100%;
	max-width: 400px;
	background-color: #111827;
	/* overflow-y: auto; */
	max-height: calc(100vh - 60px - 4rem);
}

.cart p {
  font-size: 18px;
}

.cart.hover {
  display: block;
}

.cart::after {
	content: '';
	position: absolute;
	top: -11px;
	right: 26px;
	width: 15px;
	height: 15px;
	border-right: 3px solid #b7bbc3;
	border-top: 3px solid #b7bbc3;
	transform: rotate(-45deg);
	z-index: 998;
	background-color: #111827;
}

.cart::before {
	content: '';
	position: absolute;
	top: -8px;
	right: 12px;
	width: 85px;
	height: 2px;
	/* border-right: 3px solid #b7bbc3; */
	border-top: 3px solid #b7bbc3;
	/* transform: rotate(-45deg); */
	z-index: 998;
	background-color: #111827;
	border-bottom: 3px solid #b7bbc3;
}

@media (max-width: 768px) {
  .cart {
    width: 50%; /* Full width on narrow screens */
    margin: 0; /* Remove margin */
    top: 92px;
    right: 0px;
    border-right-width: 0;
    border-radius: 7px 0 0 7px;
  }
  .cart::after {
    top: -11px;
    right: 31px;
  }
  .cart::before {
    top: -8px;
    right: 21px;
  }
}

@media (prefers-color-scheme: light) {
  .cart {
    background-color: rgb(249 250 251);
  }
}

