.cart {
	display: none;
	padding: 2rem;
	border: 1px solid var(--color-300);
	border-radius: 7px;
	z-index: 1000;
	position: absolute;
	top: 80px;
	right: 46px;
	width: 100%;
	max-width: 400px;
	background-color: light-dark(var(--body-background-light), var(--content-background-dark));
	/* overflow-y: auto; */
	max-height: calc(100vh - 60px - 4rem);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}

.cart p {
  font-size: 18px;
}

.cart.hover {
  display: block;
}

.cart.open {
  display: block;
}

.cart::after {
	content: '';
	position: absolute;
	top: -11px;
	right: 18px;
	width: 6px;
	height: 6px;
	border-right: 1px solid;
	border-top: 1px solid;
	transform: rotate(-45deg);
	z-index: 1000;
	background-color: light-dark(var(--content-background-light), var(--body-background-dark));
}

.cart::before {
	content: '';
	position: absolute;
	top: -19px;
	right: 0px;
	width: 85px;
	height: 22px;
	z-index: 1000;
	background-color: light-dark(var(--content-background-light), var(--body-background-dark));
	opacity: 0;
}

@media (max-width: 768px) {
  .cart {
    width: 50%; /* Full width on narrow screens */
    margin: 0; /* Remove margin */
    top: 77px;
    right: 22px;
  }

}


