/* src/styles/header.css */

header {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid var(--color-300);
    border-width: 0 0 1px 0;
  }

.navbar-right,
.navbar-left,
.right-icons {
  display: flex;
  align-items: center;
}
.navbar-right {
  gap: 30px;
}

.navbar-left {
  gap: 50px;
}

.right-icons {
  gap: 10px;
}

  .logo h1 {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: -2px;
    margin-left: 1rem;
  }
  header nav {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin: 0;
  }

  nav a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  nav a:hover {
    background-color: light-dark(var(--color-100), #1a2335);
  }
  
  .left-links {
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }
  .left-links a {
    padding: 18px 14px;
  }
  .cart-link a {
    padding: 18px 14px;
    font-size: .9em;
    font-weight: 600;
    border-radius: 3px;
  }

  .cart-link a:hover {
    background-color: light-dark(var(--color-100), #1a2335);
  }
  
  .cart-link {
    position: relative;
  }
  
  .cart-icon {
    padding: 0 7px;
    border: 3px solid;
    border-radius: 1px;
    margin-left: 0.4rem;
  }
  
  @media (max-width: 768px) {
    header {
      box-sizing: content-box;
      flex-direction: column;
      padding: 0px;

    }
  
    .nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  
    .nav-links .left-links {
      display: flex;
      justify-content: center;
      flex: 1;
    }
  
    .nav-links .right-link {
      display: flex;
      justify-content: flex-end;
      flex: 1;
    }
    .logo {
  
      margin-left: 0;
    }
  
    .cart-link {
      position: absolute;
      right: 10px;
    }
  }