:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;  
  color-scheme: light dark;
  color: #b7bbc3;
  background-color: #111827;
}

a {
  color: #b7bbc3;
  text-decoration: inherit;
}
a:hover {
  color: #b7bbc3;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {

}
button:hover {
}
button:focus,
button:focus-visible {
}

@media (prefers-color-scheme: light) {
  :root {
    color: rgb(75 85 99);
    background-color: rgb(249 250 251);
  }

  a {
    color: rgb(75 85 99);
    text-decoration: inherit;
  }
  a:hover {
    color: rgb(75 85 99);
  }
  button {
  }
}
